NEXT_PUBLIC_API_URL=https://heritageproject-back.onrender.com
NEXT_PUBLIC_USE_MOCK=true
NEXT_PUBLIC_SITE_URL=https://heritage-project-front.vercel.app
NEXT_PUBLIC_SITE_SEARCH_URL_TEMPLATE=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_ANALYTICS_PROVIDER=ga
NEXT_PUBLIC_YANDEX_METRIKA_ID=

GOOGLE_SITE_VERIFICATION=
YANDEX_VERIFICATION=
ORGANIZATION_SAME_AS=

ADDITIONAL_SITEMAP_URLS=
